
.market-form-container {

	h2 {
		margin: 0;
	}

	.button-container {
		margin-top: 16px;
		display: flex;
		justify-content: flex-end;

		button {
			&:last-child {
				margin-left: 8px;
			}
		}
	}
}