.navbar a {
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
}

.appbar {
	display: flex !important;
	flex-direction: row !important;
	justify-content: space-between !important;
	align-items: center;
	height: 70px;
	padding: 0 2.5%;
	background: #0b3e9c !important;
}